.editable {
    cursor: pointer;
}

.edit-btn, .save-btn {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}


   .tabs {
            display: flex;
            margin-top: 10px;
            border-bottom: 1px solid #ddd;
        }

        .tab {
            padding: 10px 20px;
            cursor: pointer;
            text-decoration: none;
            color: #007bff;
            border-bottom: 2px solid transparent;
        }

        .tab:hover,
        .tab.active {
            border-bottom: 2px solid #007bff;
        }